.TabbedPanels {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.7em ;
	background-color: #55CCEE;
	list-style: none;
	border-left: solid 2px #CCC;
	border-bottom: solid 2px #999;
	border-top: solid 2px #999;
	border-right: solid 2px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	text-decoration: underline;
}

.TabbedPanelsTabHover {
	background-color: #00EEEE;
}

.TabbedPanelsTabSelected {
	background-color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	text-decoration: none;
}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 2px #CCC;
	border-bottom: solid 2px #CCC;
	border-top: solid 1px #999;
	border-right: solid 2px #999;
	background-color: #FFFFFF;
}

.TabbedPanelsContent {
	padding: 4px;
}

.TabbedPanelsContentVisible {
}


.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #FFFFFF;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #FFFFFF;
	border-bottom: solid 1px #999;
}

.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}

